/*Bonezegei Mobile Template
  Author: Jofel Batutay (Bonezegei)
  Date: August 2023 
*/

body {
  margin: 0;
  font-family: Roboto, Helvetica, sans-serif;
  background-color: #f1f1f1;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #333;
  background-color: white;
  text-align: center;
  text-decoration: none;
  padding-top: 5px;
}

.navbar a:hover {
  background: white;
  color: black;
}

.navbar a.active {
  /*background-color: #04aa6d;*/

  color: #04aa6d;
}

.navbar a.none {
  color: #333;
}

.nav-icons {
  font-size: 22px;
}
.nav-icons-caption {
  font-size: 12px;
  margin-top: 1px;
  margin-bottom: 5px;
}

/*Navigation Bar 5*/
/************************************************************************/
.navbarContainer5 {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  color: #333;
}

#navbarButton5_1 {
  color: #000;
}
#navbarButton5_2 {
  color: #888;
}
#navbarButton5_3 {
  color: #888;
}
#navbarButton5_4 {
  color: #888;
}
#navbarButton5_5 {
  color: #888;
}

#navbarContent5_1 {
  display: block;
}
#navbarContent5_2 {
  display: none;
}
#navbarContent5_3 {
  display: none;
}
#navbarContent5_4 {
  display: none;
}
#navbarContent5_5 {
  display: none;
}

/*Navigation Bar 4*/
/************************************************************************/
.navbarContainer4 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  color: #333;
}

#navbarButton4_1 {
  color: #000;
}
#navbarButton4_2 {
  color: #888;
}
#navbarButton4_3 {
  color: #888;
}
#navbarButton4_4 {
  color: #888;
}

#navbarContent4_1 {
  display: block;
}
#navbarContent4_2 {
  display: none;
}
#navbarContent4_3 {
  display: none;
}
#navbarContent4_4 {
  display: none;
}

/*Navigation Bar 3*/
/************************************************************************/
.navbarContainer3 {
  display: grid;
  grid-template-columns: auto auto auto;
  color: #333;
}

#navbarButton3_1 {
  color: #000;
}
#navbarButton3_2 {
  color: #888;
}
#navbarButton3_3 {
  color: #888;
}

#navbarContent3_1 {
  display: block;
}
#navbarContent3_2 {
  display: none;
}
#navbarContent3_3 {
  display: none;
}

/*Navigation Bar 2*/
/************************************************************************/
.navbarContainer2 {
  display: grid;
  grid-template-columns: auto auto;
  color: #333;
}

#navbarButton2_1 {
  color: #000;
}
#navbarButton2_2 {
  color: #888;
}

#navbarContent2_1 {
  display: block;
}
#navbarContent2_2 {
  display: none;
}

/*Toast Notification*/
/************************************************************************/

/*Card */
/************************************************************************/

.card {
  padding-left: 10px;
  margin: auto;
  background-color: white;
  width: 100%;
  max-width: 95%;
  border-radius: 5px;
  color: #333;
}

.card-sub {
  padding-left: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  background-color: white;
  width: 100%;
  max-width: 95%;
  border-radius: 5px;
  color: #333;
}

.card-text.header {
  margin-left: 10px;
  font-size: 26px;
  font-weight: 500;
  color: #333;
}

.card-text.header1 {
  margin-left: 10px;
  font-size: 22px;
  font-weight: 600;
  color: #333;
}

.card-text.header2 {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 500;
  color: #333;
}

.card-text.sub1 {
  padding-top: 10px;
  margin-left: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #555;
}

.card-text.sub2 {
  padding-top: 10px;
  margin-left: 10px;
  font-size: 10px;
  font-weight: bold;
  color: #aaa;
}

/*Switch*/
/************************************************************************/
.toggle {
  cursor: pointer;
  display: inline-block;
}

.toggle-switch {
  display: inline-block;
  background: #ccc;
  border-radius: 14px;
  width: 50px;
  height: 28px;
  position: relative;
  vertical-align: middle;
}
.toggle-switch:before,
.toggle-switch:after {
  content: "";
}
.toggle-switch:before {
  display: block;
  background: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: left 0.25s;
}
.toggle:hover .toggle-switch:before {
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
}
.toggle-checkbox:checked + .toggle-switch {
  background: #56c080;
}
.toggle-checkbox:checked + .toggle-switch:before {
  left: 26px;
}

.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}

.toggle-label {
  margin-left: 5px;
  position: relative;
  top: 2px;
}
